{% extends 'main.html' %}
{% load static i18n %}
{%block title%}{{movie.title}}{%endblock%}
{%block style%}

{%endblock%}
{%block content%}
{%load static recaptcha3%}
    <link rel="stylesheet" href="{% static 'css/rating.css' %}" type="text/css" media="all">
    <div class="row">
        <div class="col-xl-3 col-lg-3 mb-4">
            <strong>{{movie.category}}</strong>
    <p>{{movie.tagline}}</p>
            <img src="{{movie.poster.url}}" width="230">
        </div>

        <div class="col-xl-6 col-lg-6">
            <h1>{{movie.title}}</h1>
            <div class="mb-4">
                    <h4>Информация о фильме</h4>
                    <ul>
                        <li>
                            <span><b>{% trans 'Год' %}:</b> {{ movie.year }}</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span><b>{% trans 'Жанры' %}</b>{% for genre in movie.genres.all %}{{genre.name}} {% endfor %}</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                           <span><b>{% trans 'Страна' %}:</b> {{ movie.country }}</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span><b>{% trans 'Премьера в мире' %}:</b>{{movie.world_premiere}}</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span><b>{% trans 'Бюджет' %}:</b>{{movie.budget}}$</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span><b>{% trans 'Сборы в США' %}</b>{{movie.fees_in_usa}}$</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span><b>{% trans 'Сборы в мире' %}:</b>{{movie.fess_in_world}}$</span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <form action="{% url 'add_rating' %}" method="post" name="rating">
                                <b>{%trans 'Рейтинг' %}:</b>
                                {% csrf_token %}
                                <input type="hidden" value="{{ movie.id }}" name="movie">
                                <span class="rating">
                                    {% for k, v in star_form.fields.star.choices %}
                                        <input id="rating{{ v }}" type="radio" name="star"
                                               value="{{ k }}">
                                        <label for="rating{{ v }}">{{ k }}</label>
                                    {% endfor %}
                                </span>
                                <span class="editContent">4.0</span>
                            </form>
                        </li>
                    </ul>

            </div>
        </div>

    </div>

    <h4>{%trans 'Описание'%}:</h4>{{movie.description|safe}}
    <h4>{% trans 'Режиссеры' %}</h4>
    <div class="md-4 row">
        {% for director in movie.directors.all %}
        <div class="col-xl-2 col-lg-2 col-md-2 mb-4">
            <a href="{{director.get_absolute_url}}" style="color:gray">
                <img class="bd-placeholder-img rounded-circle" width="100" height="100"  src="{{director.image.url}}">
                <h5>{{director.name}}</h5>
            </a>
        </div>
    </div>
    {% endfor %}
    <h4>{% trans 'Актеры' %}</h4>
    <div class="row ">

        {% for actor in movie.actors.all %}
            <div class="col-xl-2 col-lg-2 col-md-2 mb-4">
                <a href="{{actor.get_absolute_url}}" style="color:gray">
                    <img class="bd-placehold  er-img rounded-circle" width="100" height="100"  src="{{actor.image.url}}">
                    <h5>{{actor.name}}</h5>
                </a>
            </div>
        {% endfor %}
    </div>

    <div>
        <h4>{% trans 'Кадры из фильма'%}:</h4>
        {%for image in movie.movieshots_set.all%}
        <img src="{{image.image.url}}">
        {%endfor%}
    </div>
<h4>{%trans 'Оставить отзыв' %} </h4>
<form action="{% url 'add_review' movie.id %}" method="post" class="mt-4" id="formReview">
    {% csrf_token %}
    <input type="hidden" name="parent" id="contactparent" value="">
    <div class="md-10">
        {{ form.text }}
    </div>
    <div class="d-sm-flex">
        <div class=" p-0">
            {{ form.name }}
        </div>
        <div class=" ml-sm-3">
            {{ form.email }}
        </div>
        {{ form.captcha }}
    </div>
    <button type="submit" class="btn btn-secondary py-2 ">
        Отправить
    </button>
</form>
<div>
    <h4>{%trans 'Отзывы' %} </h4>
    {% for review in movie.get_review %}
            <div class="media py-1">
                <img src="{% static 'images/avatar_azamat.png' %}" class="mr-1 img-fluid" alt="image" width="60">
                <div class="media-body mt-4">
                    <h5 class="mt-0 editContent">
                        {{ review.name }}
                    </h5>
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>
                    <a href="#formReview"
                       onclick="addReview('{{ review.name }}', '{{ review.id }}')">Ответить</a>
                    {%for rew in review.reviews_set.all%}
                        <div class="media py-1">
                            <img src="{% static 'images/avatar_azamat.png' %}" class="mr-1 img-fluid" alt="image" width="60">
                            <div class="media-body mt-4">
                                <h5 class="mt-0 editContent">
                                    {{ rew.name }}
                                </h5>
                                <p class="mt-2 editContent">
                                    {{ rew.text }}
                                </p>
                            </div>
                    {%endfor%}
                </div>
            </div>
        {% endfor %}
</div>
</div>
    <script>
        function addReview(name, id) {
            document.getElementById("parent").value = id;
            document.getElementById("comment").innerText = `${name}, `
        }

    </script>
    <script src="{%static 'js/rating.js'%}"></script>
{%endblock%}