<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock%}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/rating.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    {%block style%}
    {%endblock%}
    <style>
       .first:first-letter {
        color: red;
        font-size: 27pt;
        font-family: algerian;
       }
       .category {
            font-size: 13pt;
            color:black;
       }
  </style>

</head>
<body>
    {% load movie_tag %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
          <a class="my-0 ml-4 mr-md-auto font-weight-normal" href="/" style="color:white"><h3 class="first" style="font-family: comic sans ms;">Films Django</h3></a>
          <form class="form-inline mt-2 mt-md-0" method="get" action="{%url 'search'%}">
              <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
              <button class="bg-dark" type="submit"><svg class="bi bi-search" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color:white">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg></button>
          </form>
          <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                 </li>
          </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-2 col-lg-2 col-xl-2 d-md-block bg-light sidebar collapse">
                      <form method="get" action="{% url 'filter' %}">
                      <div class="sidebar-sticky pt-0">
                          <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 ">Фильтр</h3>
                          <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">Категории</h4>
                                <ul class="nav flex-column">
                                      {% get_categories as categories %}
                                      {%for category in categories%}
                                      <li class="nav-item category ml-4">
                                          <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="{{ category.id }}" name="category" value="{{category.id}}">
                                              <label class="custom-control-label" for="{{ category.id }}">{{category.name}}</label>
                                          </div>
                                      </li>
                                      {%endfor%}
                                </ul>
                          <div class="sidebar-sticky pt-0">
                                <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Жанры</h4>
                                <ul class="nav flex-column">
                                    {% for genre in view.get_genres %}
                                        <li class="nav-item category ml-4">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="{{ genre.name }}" name="genre" value="{{ genre.id }}">
                                                <label class="custom-control-label" for="{{ genre.name }}">{{ genre.name }}</label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                          </div>
                          <div class="sidebar-sticky pt-0">
                                <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Год</h4>
                                <ul class="nav flex-column">
                                    {% for year in view.get_years %}
                                        <li class="nav-item category ml-4">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="{{ year }}" name="year" value="{{year}}">
                                                <label class="custom-control-label" for="{{ year }}">{{ year }}</label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                          </div>
                            <button class="ml-3 btn btn-secondary" type="submit">Найти</button>
                        {% get_last_movies count=3 %}
                      </div>
                      </form>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
</body>
</html>